* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  color: #333333;
  font-family: "Verdana", "Helvetica", sans-serif;
  line-height: 1.5rem;
}

main {
  width: 61.5rem;
}

section p {
  position: fixed;
  box-sizing: border-box;
  font-weight: bold;
  height: 1.5rem;
  padding-left: 0.5rem;
  width: 48rem;
  padding-right: 0.5rem;
  background-color: #ffffff;
}

aside {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 48rem;
  align-items: flex-end;
}

aside img {
  flex-grow: 0;
  flex-shrink: 0;
  width: 300px;
  height: 313px;
}

aside div {
  flex-grow: 1;
  flex-shrink: 0;
  text-align: right;
  padding-left: 0.5rem;
  padding-bottom: 4rem;
}

aside a {
  color: inherit;
}

ul.portions {
  position: fixed;
  top: 1.5rem;
  width: 48rem;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
}

ul.foods {
  margin-top: 1.5rem;
  margin-left: 48rem;
  border-left-style: solid;
  border-width: 1px;
}

ul {
  list-style: none;
}

li {
  background-color: #cee8f5;
}

ul.foods span,
ul.portions li {
  width: 12rem; /* 4 portions per table row */
}

ul.portions span:first-child {
  padding-left: 0.5rem;
}

ul.foods span {
  padding-left: 1.5rem;
}

ul.foods li {
  width: 13.5rem;
}

ul.foods li:not(.disabled) span:hover {
  color: #ffffff;
  background-color: #4695ce;
}

ul.foods {
  border-color: #4695ce;
}

ul.foods li:not(.disabled) span:hover {
  background-image: url("plus.svg");
  background-repeat: no-repeat;
}

ul.foods li.disabled span,
ul.portions li.disabled span {
  color: #808080;
}

.limit,
.avoid {
  font-style: italic;
}

.avoid {
  text-decoration: line-through;
}

form[name="portion"] input,
form[name="portion"] button,
ul.portions span + span {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

ul.foods span,
ul.portions span {
  display: inline-block; /* so hover background-color has line-height */
  cursor: default;
}

ul.portions span + span {
  position: relative;
  margin-left: 0.5rem;
}

form[name="portion"] {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0px;
  width: 6rem;
  background-color: #cccccc;
}

ul.portions div {
  display: inline-block; /* limit width to hover only if pointing at spans */
}

ul.portions li:not(.disabled) div:hover span + span,
form[name="portion"] input,
form[name="portion"] button {
  background-color: #c0c0c0;
}

form[name="portion"] input:disabled,
form[name="portion"] button:disabled {
  color: #808080;
  background-color: transparent;
}

form[name="portion"] button:not(:disabled):hover {
  color: #FFFFFF;
  background-color: #333333;
}

form[name="portion"] input,
form[name="portion"] button {
  box-sizing: border-box;
  width: 100%;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
}

form[name="portion"] button {
  text-align: left;
}
